
<h1>Hi <%= @user.first_name %> <%= @user.last_name %>,
</h1>

<p>
  Welcome to the Twitter Replica app!
  Click on the button below to reset your password:</p>
<%= link_to "Activation",
            edit_password_reset_url(@user.reset_token,email: @user.email),
            class: "btn btn-primary" %>

<p>
  the link will expire in 2 hours</p>